# Moto actions rework code 
# Inspired in xiaomi part , moto shit
# rework by seba_3567

on boot
   # Display (for kcal)
    chown system graphics /sys/class/graphics/fb1/hpd
    chmod 0664 /sys/class/graphics/fb1/hpd
    chown system graphics /sys/class/graphics/fb1/res_info
    chmod 0664 /sys/class/graphics/fb1/res_info
    chown system graphics /sys/class/graphics/fb1/video_mode
    chmod 0664 /sys/class/graphics/fb1/video_mode
    chown system graphics /sys/class/graphics/fb1/cec/enable
    chmod 0664 /sys/class/graphics/fb1/cec/enable
    chown system graphics /sys/class/graphics/fb1/cec/logical_addr
    chmod 0664 /sys/class/graphics/fb1/cec/logical_addr
    chown system graphics /sys/class/graphics/fb1/cec/rd_msg
    chmod 0664 /sys/class/graphics/fb1/cec/rd_msg
    chown system graphics /sys/class/graphics/fb1/cec/wr_msg
    chmod 0600 /sys/class/graphics/fb1/cec/wr_msg

    chown system graphics /sys/class/graphics/fb0/idle_time
    chmod 0664 /sys/class/graphics/fb0/idle_time
    chown system graphics /sys/class/graphics/fb0/dyn_pu
    chmod 0664 /sys/class/graphics/fb0/dyn_pu
    chown system graphics /sys/class/graphics/fb0/modes
    chmod 0664 /sys/class/graphics/fb0/modes
    chown system graphics /sys/class/graphics/fb0/mode
    chmod 0664 /sys/class/graphics/fb0/mode
    chown system graphics /sys/class/graphics/fb0/msm_cmd_autorefresh_en
    chmod 0664 /sys/class/graphics/fb0/msm_cmd_autorefresh_en

    # KCAL permissions
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_cont
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_cont
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_hue
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_hue
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_min
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_min
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_val
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_val

on boot
   # FPC button permissions
    chown system system /sys/homebutton/enable
    chown system system /sys/homebutton/enable_off
    chown system system /sys/homebutton/haptic
    chown system system /sys/homebutton/haptic_off
    chown system system /sys/homebutton/key
    chown system system /sys/homebutton/key_hold
    chown system system /sys/homebutton/key_dbltap
    chown system system /sys/homebutton/key_left
    chown system system /sys/homebutton/key_right
    chown system system /sys/homebutton/key_screenoff
    chown system system /sys/homebutton/key_screenoff_hold
    chown system system /sys/homebutton/key_screenoff_dbltap
    chown system system /sys/homebutton/key_screenoff_left
    chown system system /sys/homebutton/key_screenoff_right



